<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="defaultExecutorType" value="REUSE" /><!-- REUSE executor reuses prepared statements. -->
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <typeAliases>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/baseMapper.xml" />
    </mappers>
</configuration>
