<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.framework.hsven.mybatis.mapper.MysqlSimpleBaseGenericMapper">


    <select id="queryCountByCondition" databaseId="mysql" parameterType="map" resultType="int">
        select count(*) as cnt from (${queryEntity.sql})
        <where>
            <include refid="org.framework.hsven.mybatis.mapper.SimpleBaseGenericMapper.pageCondition"/>
        </where>
    </select>

</mapper>